<html>
  <head>
		<title>Homework Reminder</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/static/gamestyle.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
  <body style="background-color: black">
    <div id="container">
      <div>
        <audio src="/static/puzzle.mp3" controls style="margin: 0 auto; display: block;"></audio>
      </div>
    </div>
  </body>
</html>